﻿@using MoviesApp.ViewModels
@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

@* <section class="bg-light space-lg" data-jarallax data-speed="0.2">
     <img src="/images/Films.jpg"
         class="bg-image position-absolute " opacity-20 /> 
    <div class="container">
        <div class="row align-items-center justify-content-between">
             <div class="col-12 col-md-6 col-lg-5 section-intro">
                <h1 class="display-3"></h1>
                 <span class="lead">
                    A community of devoted movie watchers, passionate about movies and life. Ready to find your film partner?
                </span> 
            </div> 
        </div>
    </div>
</section>
 *@
<section>
    <div class="container">
        @if (@Model.Users == null)
        {
            <h1 class="fw-light">
                There are no film friends in your area! 
                @* <a asp-area="" asp-controller="Account" asp-action="Login">Login</a> and create one! *@
            </h1>
        }
        else
        {
            <div class="row justify-content-between mb-5">
                <div class="col-auto">
                    <h3>You are in @Model.City, @Model.State</h3>
                </div>
            </div>                        
            <div class="container">
                <img class="card-img-top" src="/images/film-strip.webp" alt="Photo">
            </div>    
            @* <h5>Active Users</h5>
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        @foreach (var item in Model.Users)
                        {
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" src="@item.ProfileImageryUrl" alt="Photo">
                                    <div class="card-body">
                                        <h5 class="card-text">@item.UserName</h5>
                                        <p class="card-text">@item.City</p>
                                        <p class="card-text">@item.State</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div> *@
        }
    </div>
</section>