﻿@using MoviesApp.ViewModels

@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <img class="card-img-top" src="/images/film-strip.webp" alt="Photo">
    @if (@Model.Users == null)
    {
        <h1 class="fw-light">
            There are no film friends in your area! 
            @* <a asp-area="" asp-controller="Account" asp-action="Login">Login</a> and create one! *@
        </h1>
    }
    else
    {
        <h6>You are in @Model.City, @Model.State</h6>
        <hr/>
        <h5>Active Users</h5>
        <div class="album">
            <div class="row">
                @foreach (var item in Model.Users)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="@item.ProfileImageryUrl" alt="Photo">
                            <div class="card-body">
                                <h5 class="card-text">@item.UserName</h5>
                                <p class="card-text">@item.City</p>
                                <p class="card-text">@item.State</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
