@model IEnumerable<MoviesApp.Models.Movie>

@{
    ViewData["Title"] = "Add to Playlist";
}

<h3>Add Movies to Playlist</h3>

@* <form asp-controller="Playlists" asp-action="AddMovie">
    <h5>
        Name:
        <input type="text" name="search" />
        <input type="submit" value="Search" class=" btn btn-sm btn-outline-primary" />
    </h5>
</form> *@

<p class="text-danger">@ViewBag.Message </p>


<div class="card-body">
    @*    @foreach( Movie item in Model)
    {
         <h6>Name</h6>
        <p class="card-text">@item.Title<p>

        <h6>Description</h6>
        <p class="card-text">@itemModel.Playlist.Description</p> *@

        <div class=container>
            <table class="table table-responsive">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Age</th>
                </tr>
                @foreach (Movie item in Model)
                {
                    <tr>
                        <td><a asp-action="AddMovies" asp-controller="Playlists" asp-route-id="@Model" type="button" class="btn btn-sm btn-outline-primary">Add</a></td>
                        <td>@item.Title</td>
                        <td>@item.Genre</td>
                        <td>@item.Age</td>
                    </tr>
                }
            </table>
        </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
         @if (User.Identity.IsAuthenticated)
            {
                <a asp-action="Details" asp-controller="Playlists" asp-route-id="@Model" type="button" class="btn btn-sm btn-outline-dark">Back</a>
            }
        </div>
    </div>
</div>
