@model Movies.Models.Movie

<h3 class="text-danger">Are you sure you want to delete this Movie?</h3>
<br />

<h5>
    @Model.Title
</h5>

<div class="card mb-3">
    <div class=" row g-0">
        <div class="col-md-4">
            @if (@Model.PictUrl != null)
            {
                // if image not found put default.png instead
                <img src="@(Model.PictUrl ?? "/images/default.png")"
                     class="card-img-top product-image"
                     alt="@(string.IsNullOrWhiteSpace(Model.Title) ? "Product image" : Model.Title + " image")"
                     loading="lazy"
                     onerror="this.onerror=null; this.src='/images/default.png';" />
            }
            else
            {
                <img src="./images/default.png"
                     class="card-img-top"
                     alt="Default product image"
                     style="max-height: 200px; object-fit: cover;" loading="lazy" />
            }
            @* <img src="@Model.PictUrl" class="img-fluid rounded-start w-100" alt="@Model.Title"> *@
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Description:</dt>
                    <dd class="col-sm-8">@Model.Description</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3">Genre: </dt>
                    <dd class="col-sm-8">@Model.Genre</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3">Minimum Age:</dt>
                    <dd class="col-sm-8">@Model.Age</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3">Active:</dt>
                    <dd class="col-sm-8">@Model.Active</dd>
                </dl>
                
            </div>
        </div>
        <div class="form-group m-3">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
                <a asp-action="Index" type="button" class="btn btn-sm btn-outline-dark">Cancel</a>
            </form>
        </div>
    </div>
</div>
    

