@model MoviesApp.ViewModels.AddMovieVM

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<h5>Film:
    <small class="text-body-secondary">@Model.Title</small>
</h5>

<p class="text-danger">@ViewBag.Message </p>

<form asp-action="Details" method="post">
    <input hidden asp-for="Id" />
    <div class="card mb-3" style="max-width: 100%">
        <div class=" row g-0">
            <div class="col-md-4">
                <img src="@Model.PictUrl" class="img-fluid rounded-start w-100" alt="@Model.Title">
            </div>
            
            <div class="col-md-8">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">Description:</dt>
                        <dd class="col-sm-8">@Model.Description</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-2">Genre: </dt>
                        <dd class="col-sm-8">@Model.Genre</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-2">Minimum Age:</dt>
                        <dd class="col-sm-8">@Model.Age</dd>
                    </dl>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <hr />
                        <div class="form-group">
                            <label asp-for="@Model.PlaylistId" class="control-label h6">Playlists:</label>
                            <select asp-for="@Model.PlaylistId" class="form-control" asp-items="ViewBag.playlistName"></select>
                            <button type="submit" class="btn btn-sm btn-outline-primary mt-2">Add to Playlist</button>
                        </div>
                    }
                </div>
            </div>
        </div> 
    </div>
</form>


<div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-sm btn-outline-primary mx-1">Edit</a>
            @if (User.IsInRole("admin"))
            {
                <a asp-action="Delete" asp-route-id="@Model.Id" type="button" class="btn btn-sm btn-outline-danger ">Delete</a>
            }
        }
        <a asp-action="Index" asp-route-id="@Model.Id" type="button" class="btn btn-sm btn-outline-dark mx-1">Back</a>
    </div>
</div>