@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Index";
}

<h3>Movies</h3>

@if (User.Identity.IsAuthenticated) @*&& User.IsInRole("admin")) *@
{
    <p><a asp-action="Create" class="btn btn-sm btn-outline-primary">Create</a></p>
}

<p class="text-danger">@ViewBag.Message </p>
 
<div class="album bg-body-tertiary">
    
    <div class="row g-0">
        @foreach (var item in Model)
        {
            <div class="card mx-2 mb-2" style="max-width: 400px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@item.PictUrl" class="img-fluid rounded-start w-100" alt="@item.Title">
                    </div>
                    <div class="col-md-8 p-2">
                        <h5 class="card-title">@item.Title</h5>
                        <h6 class="text-body-primary">@item.Genre</h6>
                        <p class="text-body-secondary">Minimum Age: @item.Age</p>
                                
                        
                    </div>
                    <div class="card-footer border-0">
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-id="@item.Id"
                               class="btn btn-sm btn-outline-primary mx-1">
                                View
                            </a>

                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" type="button"
                                   class="btn btn-sm btn-outline-primary">Edit</a>
                                @if (User.IsInRole("admin"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.Id" type="button"
                                       class="btn btn-sm btn-outline-danger mx-1">Delete</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>