@model MoviesApp.ViewModels.UsersDetailsVM

<div class="container">

    <h3 class="my-4">
        User Details
        <small>Secondary Text</small>
    </h3>

    <div class="row">
        <div class="col-md-8">
            @* <img class="img-fluid" src="@Model.Image" alt="User Photo" /> *@
        </div>

        <div class="col-md-4">
            <h3 class="my-3">User Name: 
                <small class="text-body-secondary">@Model.UserName</small>
            </h3>
            @*<p>@Model.Pace</p> *@
            <h3 class="my-4">Location</h3>
            <ul>
                <li>@Model.City</li>
                <li>@Model.State</li>
            </ul> 
        </div> 
    </div>
    
    @*<h5 class="my-4">Related Projects</h5>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

    </div>
*@
</div>
