@model UsersDetailsVM

<h3>Profile</h3>
<h5 class="text-secondary">@Model.UserName</h5>

<div class="card">
    <div class="row g-0">
        <div class="col-md-4">
            @if (Model.ProfileImageUrl != null)
            {
                <img class="card-img-top"
                     src="@Model.ProfileImageUrl"
                     alt="Photo"
                     loading="lazy" decoding="async"
                     onerror="this.onerror=null; this.src='/images/default.png';" />
            }
            else
            {
                <img class="card-img-top"
                     src="/images/default.png"
                     alt="Photo"
                     loading="lazy" decoding="async" />
            }
        </div>
        <div class="col-md-8">
            <div class="card-body">

                @if (Model.Playlists.Any())
                {
                    <div class="album">
                        <div class="container">
                            <h5>Playlists</h5>
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                                @foreach (var item in Model.Playlists)
                                {
                                    <div class="col-md-12">
                                        <div class="card box-shadow">
                                            <div class="card-body">
                                                <h6 class="card-title">@item.Name</h6>
                                                @* <p>@item.Movies.Count Movies</p> *@

                                                <div class="btn-group">
                                                    <a asp-controller="Playlists" asp-action="Details" asp-route-id="@item.Id"
                                                       class="btn btn-sm btn-outline-primary">View</a>
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <a asp-controller="Playlists" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary mx-1">Edit</a>
                                                        <a asp-controller="Playlists" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                }
                else 
                {
                    <h6 class="text-danger">There are no Playlists in your account!</h6>
                }
            </div>
            
        </div>
        <div class="button-group p-2">
            <a type="button" class="btn btn-sm btn-primary" asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.Id">Edit Profile</a>
            <a type="button" class="btn btn-sm btn-outline-primary" asp-area="" asp-controller="Playlists" asp-action="Create">Create Playlist</a>
            <a type="button" class="btn btn-sm btn-outline-primary" asp-area="" asp-controller="Movies" asp-action="Create">Create Movie</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}